.login-logo
{
	width: 230px;
	margin-top: 0px !important;
}
.form-title{
	/*color: #083B91 !important;*/

}
.f-copy{
	/*color: #083B91 !important;*/
}
.clear{	
	clear: both;
}
.question_type_2{ display: none; }
#addScnt2{display: none;}